.navbar {
  background-color: #243642;
  overflow: hidden;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.navbar ,.navlink {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
}

.navbar ,.logo {
  height: 64px;
  margin: 0;
}

.active{
  background-color: #387478;
}