


.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Allow the container to be more flexible */
    width: 100%;
    position: relative;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.heading {
    margin-bottom: 20px;
    font-size: 35px;
    color: #387478;
    font-weight: 400;
    text-align: center;


}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    font-weight: 400;

}

.input {

    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    
}

.input:focus {
    outline: none;
    border-color: #666;
}

.button {
    padding: 15px;
    background-color: #387478;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.button:hover {
    background-color: #479297;
}

/* Add a new rule for the inline-fields container */
.inline-fields {
    display: flex;
    gap: 20px; /* Space between Flight Number and Time fields */
}

/* Style for each field within inline-fields */
.inline-fields .field-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inline-fields .label {
    margin-bottom: 5px; /* Space between label and input */
}

